@font-face {
    font-family: 'DoomFont';
    src: url('amazdoomleft.ttf') format('truetype'); 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'DoomFont', Arial, sans-serif;
    background: linear-gradient(to bottom, #f7f7f7, #4f4b4b);
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 1.2rem;
}


header {
    font-family: 'DoomFont', Arial, sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2%;
}


h1 {
    font-family: 'DoomFont', Arial, sans-serif;
    margin: 0;
    font-size: 2.5rem;
}


.content {
    font-family: 'Pixelify Sans';
    padding: 2%;
    text-align: center;
}


.profile-photo {
    max-width: 25%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.button {
    padding: 1% 2%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 1% 1%;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}


.button:hover {
    background-color: #ff0b0b;
}

h2 {
    font-family: 'DoomFont', Arial, sans-serif;
}
