/* Reset общего стиля */

@font-face {
    font-family: 'DoomFont';
    src: url('amazdoomleft.ttf') format('truetype'); 
}


/* Reset общего стиля */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Общий стиль страницы */
body {
    font-family: 'DoomFont', Arial, sans-serif; 
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Стиль шапки страницы */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2%;
}

/* Стиль заголовка */
h1 {
    margin: 0;
    font-size: 2.5rem; 
}

/* Стиль контейнера с резюме (Grid) */
.resume {
    background-color: #fff;
    margin: 2%;
    padding: 2%;
    box-shadow: 0 0 1% rgba(0, 0, 0, 0.1);
    max-width: 94%;
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 2%;
}

/* Стиль контактной информации */
.contact-info p {
    margin: 1% 0;
    font-size: 1.2rem; 
}

/* Flexbox для внутреннего контента */
.resume > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Стиль секций резюме */
.section {
    margin-top: 2%;
}

/* Стиль заголовков секций резюме */
h2 {
    color: #333;
    font-size: 1.8rem; 
}

/* Стиль заголовков секций резюме */
.section h3 {
    margin: 2% 0;
    font-size: 1.4rem; 
}

/* Стиль текста в секциях резюме */
.section p {
    margin: 2% 0;
    font-size: 1.2rem; 
}

/* Стиль списка навыков */
.section ul {
    list-style: none;
    padding: 0;
}

/* Стиль элементов списка навыков */
.section li {
    margin: 1% 0;
    font-size: 1.2rem;
}

/* Стилизация кнопок */
.button {
    padding: 1% 2%;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1%;
    font-size: 1.2rem;
}

/* Подчеркивание кнопок при наведении */
.button:hover {
    background-color: #ff0b0b;
}
